.news{
  
  height: 100vh;
margin: 0 120px;
}
.text{
margin-top: 100px  ;

.content{
      display: flex;
      justify-content: space-between;
}
  h3{
    font-size: 50px;
    line-height: 2;
    }
    p{
      font-size: 20px;
      width: 615px;
    }
    .all{
      display: flex;
    font-weight: bold;
    align-items: center;
    font-size: 18px;
    gap: 10px;
    width: fit-content;

    }
    .arrowIcon{
      border: 1px solid;
      border-radius: 50%;
      font-size: 24px;
      color: #002B87;
      transition: all .5s ease-in-out ;
      position: relative;
      right: 0;
      
    }
    .all:hover .arrowIcon{
      right: -10px;
    }

}